<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="user-scalable=yes,width=device-width,initial-scale=1">
    <title>Solução Empresarial de Informação</title>
    <!-- Folha de Estilo Plugins =============================================================== -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css" rel="stylesheet">
    <link href="stylesheet/themeNoty.css" rel="stylesheet">
    <link href="stylesheet/corpo.css" rel="stylesheet" type="text/css">
    <!-- Java Script ============================================================================ -->
    <script src="plugins/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.4.1/jquery.noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>
    <script src="plugins/mbox.js"></script>
    <script src="plugins/OwlDefinicoes.js"></script>
    <!-- ======================================================================================== -->
  </head>
  <body class="master">
    <form>
      <div>
        <div>
        <input id="hfLogout" type="hidden" name="ctl00$hfLogout" value="1">
        <div class="container-fluid">
          <!-- cabeçalho-->
          <nav class="navbar navbar-white navbar-fixed-top">
            <div class="container">
              <!-- Menu do Celular-->
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#menu" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="glyphicon glyphicon-tasks"></span></button><img alt="LogoSei" src="../Img/seiB.png" class="logoSei">
              </div>
              <!-- Barra de Navegação-->
              <div id="menu" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right navbar-text">
                  <li class="hidden-xs">
                    <div id="saudacao">
                      <p>Bem vindo,<span id="ctl00_lblUsuario" style="color:#1C5A6D;font-weight:bold;"><%- logshow %></span><br><span id="ctl00_lblEmpresa" style="color:#1C5A6D;font-weight:bold;">MKTEC</span></p>
                    </div>
                  </li>
                <li>
                    <div id="menuBts">
                    <a id="ctl00_btnMenu" data-placement="bottom" title="Menu" href="javascript:__doPostBack('ctl00$btnMenu','')" class="btn btn-success btn-circle toolTip">
                      <i class="glyphicon glyphicon-tasks"></i>
                    </a>
                    <a id="ctl00_btnParametros" title="Configurações" href="/novousuario" class="btn btn-warning btn-circle toolTip">
                      <i class="glyphicon glyphicon-cog"></i>
                    </a>
                    <a id="ctl00_btnSair" title="Sair" href="/sair" class="btn btn-danger btn-circle toolTip">
                      <i class="glyphicon glyphicon-off"></i>
                    </a>
                    </div>
                  </li>
                  <li><img id="logoEmpresa" alt="Empresa" src="../Img2/MKTEC.png" style="border-width:0px;" class="hidden-xs"></li>
                  </ul>
            </div>
            </div>
          </nav>
          <!-- Conteudo-->
          <div id="contentBox">
            <div class="container">
              <div id="owl-demo" class="owl-carousel">
                <div><a id="cobranca" href="Cobranca.aspx" runat="server"><img src="../Img/modCobranca.png" style="position:relative;margin-left: 50px; margin-top: 25px; width: 200px; height: 340px; border: 0px;"></a></div>
                <div><a id="televendas" href="Televendas.aspx" runat="server"><img src="../Img/modTelevendas.png" style="position:relative;margin-left: 50px;margin-top: 25px; width: 200px; height: 340px; border: 0px;"></a></div>
                <div><a id="Info" href="Info.aspx" runat="server"><img src="../Img/modInfo.png" style="position:relative;margin-left: 50px;margin-top: 25px; width: 200px; height: 340px; border: 0px;"></a></div>
              </div>
            </div>
          </div>
          <!-- Rodapé-->
          <nav class="navbar navbar-white navbar-fixed-bottom hidden-xs">
            <div class="container"><a href="#" style="position:relative;padding:10px; left:71%;">
                <!-- <img src="../Img/Mktec.png" />--></a></div>
          </nav>
          <!-- Rodapé Celular-->
          <nav class="navbar navbar-white navbar-fixed-bottom visible-xs">
            <div class="container navbar-text">
              <div class="pull-left"><i class="blueIcon glyphicon glyphicon-user"></i><span id="ctl00_lblUsuarioMobile" style="color:#1C5A6D;font-weight:bold;">Tecnocall1</span></div>
              <div class="pull-right"><i class="blueIcon glyphicon glyphicon-briefcase"></i><span id="ctl00_lblEmpresaMobile" style="color:#1C5A6D;font-weight:bold;">MKTEC</span></div>
            </div>
          </nav>
        </div>
        <!-- Modal - Deseja Sair?-->
        <div tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" class="modal fade bs-example-modal-sm">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-body">
                <h4>Você deseja realmente sair?</h4>
              </div>
              <div class="modal-footer">
                <div class="row">
                  <div class="col-md-6"><a id="ctl00_btnlogout" href="javascript:__doPostBack('ctl00$btnlogout','')" class="btn btn-success btn-block">Sim</a></div>
                  <div class="col-md-6">
                    <button type="button" data-dismiss="modal" class="btn btn-danger btn-block">Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>