          <!-- Rodapé-->
          <nav class="navbar navbar-white navbar-fixed-bottom hidden-xs">
            <div class="container"><a href="#" style="position:relative;padding:10px; left:71%;">
                <!-- <img src="../Img/Mktec.png" />--></a></div>
          </nav>
          <!-- Rodapé Celular-->
          <nav class="navbar navbar-white navbar-fixed-bottom visible-xs">
            <div class="container navbar-text">
              <div class="pull-left"><i class="blueIcon glyphicon glyphicon-user"></i><span id="ctl00_lblUsuarioMobile" style="color:#1C5A6D;font-weight:bold;">Tecnocall1</span></div>
              <div class="pull-right"><i class="blueIcon glyphicon glyphicon-briefcase"></i><span id="ctl00_lblEmpresaMobile" style="color:#1C5A6D;font-weight:bold;">MKTEC</span></div>
            </div>
          </nav>
        </div>
        <!-- Modal - Deseja Sair?-->
        <div tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" class="modal fade bs-example-modal-sm">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-body">
                <h4>Você deseja realmente sair?</h4>
              </div>
              <div class="modal-footer">
                <div class="row">
                  <div class="col-md-6"><a id="ctl00_btnlogout" href="javascript:__doPostBack('ctl00$btnlogout','')" class="btn btn-success btn-block">Sim</a></div>
                  <div class="col-md-6">
                    <button type="button" data-dismiss="modal" class="btn btn-danger btn-block">Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>